# Config file for automatic testing at travis-ci.org

language: python

python:
  - 3.6
  - 3.5
  - 3.4
  - 2.7

install: pip install -U tox-travis

script: tox

install:
  - sudo apt-get -qq -y update
  - sudo apt-get install -y libgdal-dev
